:root,
:fullscreen {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  user-select: none;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-image: url("public/background.webp");
  background-size: auto;
  background-color: #0000;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  min-height: 100vh;
  overflow-y: hidden;
}

#controls {
  display: none;
}

#app {
  display: flex;
  justify-content: space-evenly;
  padding: 3em;
  max-width: 750px;
  backdrop-filter: grayscale(0.65) blur(10px);
  gap: 3em;
}

section {
  flex: 1 1 0px;
}

section#game {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#modal__title {
  font-size: 1.5em;
}
section#game #modal {
  background-color: black;
  position: absolute;
  display: flex;
  flex-direction: column;
  padding: 0 1em 1em 1em;
  font-size: 1.5em;
  text-align: center;
}

#scoreboard_container {
  width: 12em;
}

table {
  width: 100%;
}

table #newName {
  width: 4.2rem;
  text-align: center;
  height: 2rem;
  font-size: 1em;
  animation: none;
}

table .newHighscore {
  color: gold;
}
.blink {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

table #newName {
  width: 4.2rem;
  text-align: center;
  height: 2rem;
  font-size: 1em;
}

section#game button {
  margin-top: 1.5em;
  padding: 1em;
}

.icon__spacebar {
  height: 1rem;
}

canvas {
  background-color: black;
}

@media only screen and (max-width: 600px) {
  :root {
    font-size: 0.8rem;
  }

  body {
    justify-content: start;
  }

  #help {
    display: none;
  }

  section#game #modal {
    background-color: black;
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 4em 2em;
    font-size: 1.5em;
  }

  section#game button {
    padding: 1em;
  }

  #app {
    gap: 2em;
  }

  #controls {
    display: flex;
    min-width: 300px;
    width: 90%;
    justify-content: space-between;
    align-items: center;
  }

  #controls #cross {
    display: flex;
    width: 50%;
    flex-wrap: wrap;
    justify-content: center;
  }

  #controls #cross div {
    background-color: black;
    width: 14%;
    padding: 12%;
    display: flex;
    font-size: 2em;
  }
  #controls #cross #cross_l {
    justify-content: start;
    border: 0.1em solid black;
  }
  #controls #cross #cross_r {
    justify-content: end;
  }
  #controls #cross #cross_d {
    justify-content: center;
    align-items: end;
    padding: 7% 13%;
  }

  #controls #buttons {
    display: flex;
    width: 50%;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 1.2em;
    font-weight: bold;
  }

  #controls #buttons div {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(95, 14, 14);
    width: 50%;
    height: 4em;
    border-radius: 25px;
    text-align: center;
    margin: 5% 0;
  }

  #controls #buttons #button_a {
    margin-left: 25%;
  }
  #controls #buttons #button_b {
    margin-right: 25%;
  }

  #scoreboard_container {
    width: 10em;
    font-size: 0.8em;
  }

  table {
    width: 100%;
  }

  section#game #modal {
    padding: 0;
    font-size: 1.5em;
  }

  section#game button {
    margin-top: 0.5em;
    padding: 1em;
  }
}

.loader {
  border: 0.2em solid white; /* Light grey */
  border-top: 0.2em solid rgb(88, 88, 88); /* Blue */
  border-radius: 50%;
  width: 1em;
  height: 1em;
  animation: spin 1s linear infinite;
  margin: auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
