:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-image: url("public/background.webp");
  background-size: auto;
  background-color: #0000;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

body {
  display: flex;
  margin: 0;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  min-height: 100vh;
  overflow-y: hidden;
}

#app {
  display: flex;
  justify-content: space-evenly;
  padding: 3rem;
  min-width: 750px;
  backdrop-filter: grayscale(0.65) blur(10px);
}

section#game {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 3rem;
}

section#game #modal {
  background-color: black;
  position: absolute;
  display: flex;
  flex-direction: column;
  padding: 0 4rem 2rem 4rem;
}

.icon__spacebar {
  height: 1rem;
}

canvas {
  background-color: black;
}
